:root {
  --primary: #ab1f2c;
  --secondary: #d8973c;
  --tertiary: #bd632f;
  --fourth: #ec9924;
  --fifth: #e5e9f3;
}

.app{
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    box-shadow: 0 0 30px #9c9c9c;
  }
  .details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  .details .big-img{
    max-width: 500px;
    min-width: 290px;
    overflow: hidden;
    margin: 25px;
  }
  .big-img img{
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: block;
    object-fit: cover;
  }
  
  .details .box{
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
  }
  .box .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .box .row h2{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .box .row span{
    color: crimson;
    font-weight: 600;
    font-size: 1.5em;
  }
  .box .colors button{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
  }
  .box p{
    line-height: 1.5;
    margin: 15px 0;
  }
  .thumb{
    width: 100%;
    height: 100px;
    display: flex;
    cursor: pointer;
    margin: 10px 0;
  }
  .thumb img{
    width: 90px;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #ddd;
    margin-right: 5px;
    opacity: 0.7;
    border-radius: 5px;
  }
  .thumb img.active{
    opacity: 1;
    border: 1px solid lightseagreen;
  }
  .box .cart{
    font-size: 15px;
    font-weight: bold;
    background: var(--secondary);
    margin: 2em 0;
    width: 160px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 15px;
    border: var(--fifth) 2px solid;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .box .cart:hover,
  .sub-btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }
  
  @media (max-width: 500px){
    .thumb{
      height: 50px;
    }
    .thumb img{
      width: 50px;
    }
  }


.cardProduct{
    min-width: 100px;
}
.cardTitle{


}
.imgCard{
    width: 100%;
   
    object-fit: cover;
    
}

.btnCategory{
  background: #ff0000;
}
.btnCategories{

}
