.colors-custom-text {   color: #FFDB58; /* Color mostaza en formato hexadecimal */
  }
.colors-button-text {   color: #f4f3ef; /* Color mostaza en formato hexadecimal */
}
.btn-custom-users {
  font-size: 15px;
  font-weight: bold;
  background: var(--secondary);
  width: 160px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 15px;
  border: var(--fifth) 2px solid;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.btn-custom-users:hover,
.btn-custom-users:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-delete {
  font-size: 15px;
  font-weight: bold;
  background: var(--primary);
  width: 160px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 15px;
  border: var(--fifth) 2px solid;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.btn-delete:hover,
.btn-delete:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}