:root {
  --primary: #ab1f2c;
  --secondary: #d8973c;
  --tertiary: #bd632f;
  --fourth: #ec9924;
  --fifth: #e5e9f3;
}

.navcolor {
  background-color: var(--fourth);
}

.bg-3rd{
  background-color: var(--tertiary);
}

.logo img {
  height: 2em;
  width: 5em;
  background-color: var(--fifth);
  object-fit: contain;
  margin: 15px 0 0 15px;
  border-radius: 15px;
  border-left: var(--primary) 5px solid;
  border-bottom: var(--primary) 5px solid;
  
}

@media (max-width: 991px) {
  .sidebar {
    background-color: #ec99246c;
  }
}

.sub-btn {
  font-size: 15px;
  font-weight: bold;
  background: var(--secondary);
  width: 160px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 15px;
  border: var(--fifth) 2px solid;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.sub-btn:hover,
.sub-btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-in{
  font-size: 15px;
  font-weight: bold;
  background: var(--secondary);
  width: 160px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 15px;
  border: var(--fifth) 2px solid;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.btn-in:hover,
.btn-in:active{
  background: var(--tertiary);
  border: black 2px solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-out{
  font-size: 15px;
  font-weight: bold;
  background: var(--primary);
  width: 160px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 15px;
  border: var(--fifth) 2px solid;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.btn-out:hover,
.btn-out:active{
  background: rgba(211, 11, 11, 0.586);
  border:  2px solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (min-width: 991px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}



.navItem:hover {
  
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  
  
}

.menu-btn:hover {
  text-decoration: underline;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.imgback {
  height: auto;
  max-height: 520px;
  width: 100%;
  object-fit: fit;
}


.cust-icon:hover {
  color: var(--primary);
  font-weight: bolder;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.search-result-item {
  margin-bottom: 5px;
}

.search-result-item a {
  color: #333;
  text-decoration: none; 
  
}

.search-result-item a:hover{
  color: var(--primary);
  
}

.cust-socials {
  width: auto;
  height: 30px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}



.facebook:hover {
  background: #41579a;
  color: #fff;
  border-radius: 15px;
}

.instagram:hover {
  background: linear-gradient(
    to top right,
    #fcde30,
    #e9712a,
    #d2313b,
    #ae4198,
    #7540a1,
    #5443a8
  );
  color: #fff;
  border-radius: 15px;
}

.whatsapp:hover {
  background: linear-gradient(
    to top right,
    rgba(7, 94, 84, 1) 5%,
    rgba(37, 211, 102, 1) 59%,
    rgba(255, 255, 255, 1) 110%
  );
  color: #fff;
  border-radius: 15px;
}

.error-container {
  position: relative;
  text-align: center;
}

.error-content {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.errorImg {
  height: auto;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .error-content {
    position: static;
    transform: none;
    margin: 20px;
  }
}

